<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="myWater"
          class="com.example.Water">
    </bean>

    <bean id="myTumbler"
          class="com.example.Tumbler">
        <constructor-arg ref="myWater"/>
    </bean>

    <bean id="myPerson"
          class="com.example.Person">
        <constructor-arg ref="myTumbler"/>
        <property name="scream" value="${person.scream}"/>
    </bean>
</beans>
